body {
    background-color: #76CDD8;
    color: rgb(3, 2, 2);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    padding: 2rem;
}

h1 {
    font-weight: 400;
    line-height: 1.5;
    padding: 2rem;
}

h1 {
    font-weight: bold;
}

p { 
    color: blueviolet!important;
    color: yellow;
}

div {
    background-color: lightblue;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
}

div {
    padding: 10px 5px 10px 5px;
}

.highlight {
    color: yellow;
}