p{
    color: rgba(20, 35, 201, 0.932);
}

h1 {
    color: rgb(255, 0, 0);
    font-weight: 700;
    font-style: italic;
    font-size: 30px;
    text-decoration: underline;
}
#summary {
    color: rgb(17, 10, 155);
}

table, tr, td {
    /* border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-width: thin;
    border-color: black;
    border-style: dashed; */
    border: 1px solid black;
    width: 20%;
}

body {
    background-image: url(../images/R.jpg)
    background-position: center;
    background-size: 100%;
}
/* div {
    border: 2px solid purple;
    background-color: whitesmoke;
    padding: 15px;
    margin: 10px;
    background-size: cover;
} */ */
div {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h1, h2 {
    margin: 0;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
  }





